$text-field-height: 60px;
$main-font: "Staatliches", cursive;
$dark-color: #202c39;
$standard-margin: 40px;
$text-field-font-size: 35px;
$error-color: #fe5f55;
$ready-color: rgba(130, 220, 130, 1);

.search-bar {
  position: relative;

  .text-field, .text-field-ready {
    outline: none;
    font-family: $main-font;
    height: $text-field-height;
    width: $text-field-height * 8;
    border-radius: 500px;
    border: 8px solid $dark-color;
    margin: $standard-margin;
    font-size: $text-field-font-size;
    padding-left: 30px;
    padding-right: 30px;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
    transition: ease-out 0.1s;
    transition: background-color 1s;

    &:hover,
    &:focus {
      border: 10px solid $dark-color;
      transition: ease 0.1s;
    }
  }

  .text-field-ready {
    background-color: $ready-color;
    color: $dark-color;
    transition: 1s;
  }

  .error-message {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    font-family: $main-font;
  }
}

.search-bar > .error-message {
  position: absolute;
}
