$list-height: 260px;
$spacing: 10px;
$main-font: "Staatliches", cursive;
$shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
$poster-size-by-height: 27 / 40;
$list-title-color: #eaeaea;
$dark-color: #202c39;
$list-border-radius: 20px;
$arrow-icon-color: rgba(0, 0, 0, 0.35);
$arrow-button-width: 25px;

:root {
  --colNum: 4;
}

.movie-list, .hidden-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  max-height: 1000px;
  transition: 2.5s;

  .polygon {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    padding-left: 35px;
    padding-right: 35px;
    height: 50px;
    background: linear-gradient(
        180deg,
        rgba(99, 99, 99, 0.1),
        rgb(105, 105, 105, 0.5)
      ),
      $dark-color;
    clip-path: polygon(13% 0%, 87% 0%, 100% 100%, 0% 100%);

    .text, .text-green {
      font-family: $main-font;
      font-size: 35px;
      margin-left: 15px;
      margin-right: 15px;
      color: $list-title-color;
      transition: 1s;
    }

    .text-green {
      color: rgba(130, 220, 130, 1);
      transition: 1s;
    }

    .divider {
      height: 100%;
      width: 2px;
      background-color: $list-title-color;
    }
  }

  .polygon-shadow {
    filter: drop-shadow($shadow);
  }

  .button-container {
    width: auto;
    display: flex;
    position: relative;
  }

  .button-container > .left-button,
  .right-button {
    position: absolute;
  }

  .left-button,
  .right-button {
    height: 100%;
    min-width: 40px;
    width: 40px;
    border-radius: $list-border-radius;
    text-align: left;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .left-button {
    left: -$arrow-button-width;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    .arrow-left-icon {
      color: $arrow-icon-color;
      position: absolute;
      left: 0;
    }
  }

  .right-button {
    right: -$arrow-button-width;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    .arrow-right-icon {
      color: $arrow-icon-color;
      position: absolute;
      right: 0;
    }
  }

  .items-container, .big-container {
    display: flex;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

    height: $list-height;
    width: 70vw;
    min-width: 600px;

    padding: $spacing;
    background-color: #ffffff;
    border-radius: $list-border-radius;
    box-shadow: $shadow;
    z-index: 1000;
    transition: 0.7s;
    transition-property: opacity, height;

    &::-webkit-scrollbar {
      height: 6px;
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      min-width: 20px;
      background-color: #cfcfcf;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      border-bottom: 3px solid transparent;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }
  }

  .big-container {
    height: $list-height * 2;
    max-width: fit-content;
    padding-right: 0;
    transition: 2s;
    transition-property: height;
  }

  .items-container::after {
    content: "";
  }

  .progress {
    width: 0.1px;
    align-self: center;
  }

  .end-text, .end-text-hidden {
    font-family: $main-font;
  }

  .end-text-hidden {
    display: none;
  }
}

.hidden-list {
  max-height: 0;
  opacity: 0;
  transition: 1s;
}
